@import "../../scss/variables", "../../scss/mixins";

.menu-container {
  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
  }

  &__title-image {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    @include mq("tablet") {
      flex-direction: column;
    }

    .divider {
      flex: 1;
      width: 100%;
      min-width: 40%;

      @include mq("tablet") {
        padding: 0;
      }

      &::after {
        @include pseudo($pos: static);
        height: 1px;
        border-bottom: 1px dashed #555;
      }
    }
  }

  &__title-text-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 0 20px;

    transform: translateY(24px);

    padding-bottom: 24px;

    @include mq("tablet") {
      padding: 4em 0;

      transform: translateY(0);
    }
  }

  &__title-text {
    padding-top: 1rem;
    font-size: 1.5rem;
  }
}
