@import "../../scss/mixins", "../../scss/variables";

.contacts-section {
  text-transform: uppercase;
  &__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;

    font-size: 1rem;

    @include mq("desktop") {
      font-size: 0.85rem;
    }

    @include mq("tablet-wide") {
      font-size: 0.7rem;
    }

    @include mq("tablet") {
      font-size: 1rem;

      flex-direction: column;
      row-gap: 6rem;
    }
  }

  &__phone-number {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.8rem;

    .contacts-section__phone-icon {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 6rem;
      height: 6rem;

      border-radius: 50%;
      background-color: $clr-primary-orange;
    }

    span:nth-child(2) {
      @include font-config(
        $size: 2em,
        $colour: $clr-f-black,
        $weight: 600,
        $lh: 1.4
      );
    }

    span:nth-child(3) {
      @include font-config($size: 1.6em, $lh: 1.5);
    }
  }

  &__logo {
    max-width: 35rem;

    @include mq("tablet") {
      max-width: none;
    }
  }

  &__social {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.8rem;

    span:first-child {
      @include font-config(
        $size: 2.4em,
        $colour: $clr-f-black,
        $weight: 600,
        $lh: 1.25
      );
    }

    span:nth-child(2) {
      @include font-config($size: 1.3em, $lh: 1.2);
    }
  }

  &__social-list {
    display: flex;
    column-gap: 2rem;
  }

  &__social-item {
    span {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 4rem;
      height: 4rem;

      border-radius: 50%;
      background-color: $clr-primary-orange;
    }

    &:hover {
      .social-icon {
        animation: social-icon-scale 0.5s forwards ease;
      }
    }
  }
}
