@import "../../scss/variables", "../../scss/mixins";

.footer {
  padding: 3rem 0;
  background-color: #0d0f10;

  a {
    color: $clr-f-white;

    &:hover {
      color: #909090;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include font-config($size: 1.2rem, $colour: $clr-f-white, $lh: 2);

    @include mq("tablet-wide") {
      flex-direction: column;
      align-items: center;
      row-gap: 2.5rem;

      text-align: center;
    }
  }

  .phoenix-link-text {
    font-weight: 700;
  }
}
