@import "./mixins";

.slide-in-right {
  -webkit-animation: slide-in-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  @include keyframes(slide-in-right) {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.slide-in-right.reverse {
  -webkit-animation: slide-in-right-reverse 0.4s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both;
  animation: slide-in-right-reverse 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    reverse both;

  @include keyframes(slide-in-right-reverse) {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.8s cubic-bezier(0.39, 0.575, 0.565, 1)
    infinite alternate both;
  animation: scale-up-center 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) infinite
    alternate both;

  @include keyframes(scale-up-center) {
    0% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}

.shake {
  -webkit-animation: shake 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite
    alternate both;
  animation: shake 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate
    both;

  @include keyframes(shake) {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    40% {
      -webkit-transform: rotate(-3deg);
      transform: rotate(-3deg);
    }

    100% {
      -webkit-transform: rotate(2deg);
      transform: rotate(2deg);
    }
  }
}

@include keyframes(social-icon-scale) {
  50% {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
