@import "./mixins";

.slide-in-right {
  -webkit-animation: slide-in-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

  @include keyframes(slide-in-right) {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
}

.slide-in-right.reverse {
  -webkit-animation: slide-in-right-reverse 0.4s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both;
  animation: slide-in-right-reverse 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    reverse both;

  @include keyframes(slide-in-right-reverse) {
    0% {
      -webkit-transform: translateX(1000px);
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
}
