$clr-primary-orange: #f5821f;
$clr-primary-orange-dk: #dd701c;

// font colors

$clr-f-white: #ffffff;
$clr-f-grey: #4f4f4f;
$clr-f-black: #000000;
$clr-f-nav-link: rgba(0, 0, 0, 0.5);
$clr-f-link: #777777;
